# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/task-db

# JWT
# JWT secret key
JWT_SECRET=Te7vUyWnGnmhP21L1m4EuvF9hRbtx8rfqlPNFRKmhyg=
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=600
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
